<div class="top">
  <div class="top-main">
    <div class="container">
      <p>Potepan Shareでまだ体験したことのない旅をしよう</p>
    </div>
  </div>

  <div class="container">
    <h1>おすすめのエリア</h1>
  </div>
</div>
