<div class="container-fiuld user">
  <div class="row">
    <div class="col-md-12 user-view">
      <div class="user-view-box">

        <div class="update-conetnt">
          <div class="row">
            <label for="room" class="col-md-3">予約した部屋</label>
            <div class="col-md-9">
              <%= link_to @room.name, room_path(@room.id) %>
            </div>
          </div>
        </div>

        <div class="update-conetnt">
          <div class="row">
            <label for="start_date" class="col-md-3">開始日</label>
            <div class="col-md-9">
              <%= @reservation.start_date.strftime("%Y年 %m月 %d日") %>
            </div>
          </div>
        </div>

        <div class="update-conetnt">
          <div class="row">
            <label for="end_date" class="col-md-3">終了日</label>
            <div class="col-md-9">
              <%= @reservation.end_date.strftime("%Y年 %m月 %d日") %>
            </div>
          </div>
        </div>

        <div class="update-conetnt">
          <div class="row">
            <label for="total_price" class="col-md-3">価格</label>
            <div class="col-md-9">
              <%= @reservation.total_price %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
